input[type = "text"] {
    width: 100%;
    height: 60px;
    background-color: rgb(29, 29, 29, 0.7);
    border-radius: 20px;
    border-color: var(--gray);
    border-style: solid;
    border-width: 2px;
    transition: border-color 0.5s;
    color: var(--white);
    padding-left: 20px;
    text-indent: 50px;
    font-size: 2em;
}

form {
    width: 80%;
    position: relative;
    margin: auto;
}

input[type = "text"]:hover {
    border-color: var(--white);
    box-shadow: 0px 0px 3px var(--white);
}

input[type = "text"]:focus {
    border-color: var(--white);
    box-shadow: 0px 0px 3px var(--white);
}

main {
    padding-top: 30px;
    min-height: 900px;
}

label {
    font-size: 2em;
    padding-left: 10px;
}

input[type = "submit"] {
    border-color: var(--white);
    box-shadow: 0px 0px 3px var(--white);
    border-width: 2px;
    border-style: solid;
    position: absolute;
    top: 161px;
    right: -25px;
    background-color: var(--white);
    border-radius: 0px 20px 20px 0px;
    height: 60px;
    width: 100px;
    font-size: 2em;
}

input[type = "submit"]:hover {
    cursor: pointer;
}

.overall p {
    font-size: 1.2em;
    padding: 20px;
}

p.error {
    color: rgb(255, 96, 56);
    font-size: 1.3em;
    text-align: center;
}

.dash-title {
    text-align: center;
}

.std-dashboard {
    margin-top: 20px;
    margin-bottom: 20px;
}

.show-important-data:hover {
    font-size: 1.3em;
}

.member-cont {
    display : grid;
    grid-template-columns: 50% 50%;
    gap : 15px;
    margin-bottom: 50px;
}

#icont-imp-info {
    font-size: 1.0em;
}

#icont-imp-info > p {
    padding: 10px;
}

#icont-imp-info > p::before {
    content: "📌";
}

#ichannels-cont {
    display : grid;
    grid-template-columns: 50% 50%;
}

.form_img {
    width: 50px;
    height: 50px;
    position: absolute;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#iimg_serverid {
    background-image: url("https://raw.githubusercontent.com/ErickPereira-hub/Web-Site-Maned-Wolf-Discord-Bot/refs/heads/main/src/imgs/user.png");
    left: 10px;
    top: 163px;
}

#iimg_token {
    background-image: url("https://raw.githubusercontent.com/ErickPereira-hub/Web-Site-Maned-Wolf-Discord-Bot/refs/heads/main/src/imgs/key.png");
    left: 10px;
    top: 43px;
}

.download {
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-decoration-line: none;
    background-color: var(--dark1_but);
    box-shadow: -1px -1px var(--dark_shadow);
    transition: background-color 0.5s;
}

.download:hover {
    background-color: var(--dark2_but);
}

#download_cont {
    width: 380px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.dice_logo {
    background-image: url("https://raw.githubusercontent.com/ErickPereira-hub/Web-Site-Maned-Wolf-Discord-Bot/refs/heads/main/src/imgs/dice.png");
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 5px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media (max-width:1200px) {

    .member-cont {
        display : block;
    }

    #ichannels-cont {
        display: block;
    }

}

@media (max-width: 420px) {

    .download {
        font-size: 0.8em;
    }

    #download_cont {
        width: 350px;
    }

}