section.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 720px;
    height: 700px;
    background-color: var(--dark2);
    border-radius: 10px;
    z-index: 10000;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.411);
}

section.modal > div.x {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-image: url("https://raw.githubusercontent.com/ErickPereira-hub/Web-Site-Maned-Wolf-Discord-Bot/refs/heads/main/src/imgs/close.png");
    background-position: center;
    background-size: 100% 100%;
}

section.modal > div.x:hover {
    cursor: pointer;
}

h2.title_in_modal {
    padding: 50px;
    padding-top: 70px;
    font-size: 2em;
    text-align: center;
}

div.img_in_modal {
    width: 400px;
    height: 400px;
    margin: auto;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}

section.modal > form {
    max-width: 500px;
    height: 300px;
    margin: auto;
}

label.calculus_label {
    font-size: 1.6em;
}

#istart {
    border-radius: 6px;
    width: 200px;
    height: 50px;
    margin: 20px;
    text-indent: 10px;
    background-color: var(--dark3);
}

#iend {
    border-radius: 6px;
    width: 200px;
    height: 50px;
    margin: 20px;
    margin-left: 33px;
    text-indent: 10px;
    background-color: var(--dark3);
}

#iget_msg_probability {
    width: 100px;
    height: 50px;
    border-radius: 6px;
    position: static;
    margin-left: 50%;
    transform: translateX(-50%) translateY(0%);
    margin-top: 20px;
    background-color: white;
    box-shadow: 0px 0px white;
    font-weight: bold;
}

#imodal_msg {
    height: 600px;
}

div.show_information {
    padding: 20px;
    border-width: solid;
    border-color: var(--gray);
    border-style: solid;
    width: 90%;
    height: 70px;
    background-color: var(--dark3);
    margin-top: 10px;
    margin: auto;
    border-radius: 20px;
}

@media (max-width: 720px) {

    div.show_information {
        height: 100px;
    }

    section.modal {
        width: 100%;
        height: 500px;
        border-radius: 0px;
    }

    div.img_in_modal {
        width: 300px;
        height: 300px;
        margin: auto;
    }

    h2.title_in_modal {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    #istart {
        margin: 10px;
        width: 80%;
    }

    #iend {
        margin: 10px;
        margin-left: 10px;
        width: 80%;
    }

    #iget_msg_probability {
        width: 100px;
        height: 50px;
        border-radius: 6px;
        position: static;
        margin-left: 50%;
        transform: translateX(-50%) translateY(0%);
        margin-top: 5px;
    }

    section#imodal_msg > h2 {
        font-size: 1.6em;
    }

    section#imodal_msg > form {
        max-width: 400px;
    }

}